In [1]:
import pandas as pd

In [3]:
# series
# pd.Series

In [7]:
l1=[10,20,30,40,50]
l1

[10, 20, 30, 40, 50]

In [8]:
s1= pd.Series(l1)
s1

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [15]:
s1= pd.Series([10,'python',20.25])
s1

0        10
1    python
2     20.25
dtype: object

In [16]:
type(s1[2])

float

In [18]:
s1= pd.Series([10,'python',20.25],index=['a','b','c'])
s1

a        10
b    python
c     20.25
dtype: object

In [20]:
s1= pd.Series([10.5,'python',20.25],index=['a','1','2'])
s1

a      10.5
1    python
2     20.25
dtype: object

In [21]:
# DataFrame
# pd.DataFrame

In [24]:
d1={'col1':[10],'col2':[20],'col3':[30]}
d1

{'col1': [10], 'col2': [20], 'col3': [30]}

In [25]:
d1f=pd.DataFrame(d1)
d1f

   col1  col2  col3
0    10    20    30

In [26]:
{'col1': [10], 'col2': [20], 'col3': [30]}
{'col1': [10, 'python', 45],
 'col2': [20, 'python', 56],
 'col3': [30, 'python', 87]}

{'col1': [10, 'python', 45],
 'col2': [20, 'python', 56],
 'col3': [30, 'python', 87]}

In [28]:
{'col1': [10], 'col2': [20], 'col3': [30]}
{'col1': [10, 'python', 45],
 'col2': [20, 'python', 56],
 'col3': [30, 'python', 87]}
d1f

   col1  col2  col3
0    10    20    30

In [29]:
l2=[[10,'python',45],[20,'python',56],[30,'python',87]]
l2

[[10, 'python', 45], [20, 'python', 56], [30, 'python', 87]]

In [30]:
df3=pd.DataFrame(l2)
df3

    0       1   2
0  10  python  45
1  20  python  56
2  30  python  87

In [10]:
l3=[{20,'python',25},{30,'python',66},{40,'python',97}]
l3

[{20, 25, 'python'}, {30, 66, 'python'}, {40, 97, 'python'}]

In [25]:
df3=pd.DataFrame(l3)
df3

        0       1       2
0      25  python      20
1  python      66      30
2      40      97  python

In [27]:
d1={'index1':[10],'index2':[20],'index3':[30]}
d1

{'index1': [10], 'index2': [20], 'index3': [30]}

In [30]:
df1=pd.DataFrame(d1)
df1

   index1  index2  index3
0      10      20      30

In [31]:
d2={'index1':[10,20,30],'index2':[20],'index3':[30]}
d2

{'index1': [10, 20, 30], 'index2': [20], 'index3': [30]}

In [36]:
{'index1': [10], 'index2': [20], 'index3': [30]}
df1

   index1  index2  index3
0      10      20      30